.reviews-section-title {
	background: #f0f4fb;
	margin: 0 -8px 0 -8px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
}

.reviews-title {
	padding-top: 120px;
	font-size: 45px;
	font-weight: 500;
}

.reviews-subtitle {
	font-size: 22px;
	padding: 15px;
}

.reviews-section {
	font-family: "PT Sans", sans-serif;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	background: #f0f4fb;
	margin: 0 -8px;
}

.review-card {
	background: white;
	border-radius: 7px;
	transition: 0.3s;
	margin: 4px 20px 4px 25px;
	box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
}

.review-card-user {
	background: white;
	border-radius: 20px;
	transition: 0.3s;
	margin: 20px;
	box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
}
.review-card:hover {
	box-shadow: 1px 2px 15px 0px rgba(89, 87, 87, 0.85);
	transform: translateY(-1px);
}

.review-content {
	padding: 3px;
}

.user-image-name-review {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.user-image-name {
	margin-left: 30px;
	margin-top: 30px;
	flex: 60%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.fa-user-circle {
	margin: -10px 0 20px 0;
	color: #263543;
}

.user-name {
	margin-left: 20px;
	margin-top: 0;
	font-size: 23px;
	color: #263543;
}

.review-value {
	float: right;
	font-size: 30px;
	margin: 8px 20px 8px 30px;
	padding: 16px;
	transition: 0.3s;
	color: green;
	border: 5px solid green;
	border-radius: 300px;
}

.user-details-bar {
	margin: 10px 0;
	padding: 10px 0 10px 10px;
	border: 4px solid #2d455c;
	border-radius: 8px;
	font-size: 22px;
	transition: 0.3s;
	outline: none;
}

.user-details-bar:hover {
	box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
}

.user-details {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 0 20px;
}

.user-details-title {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
	font-size: 24px;
	padding-top: 1px;
}

.submit-review {
	text-decoration: none;
	font-size: 30px;
	border: solid 0;
	color: #22447b;
	background-color: #ffd43b;
	border-radius: 10px;
	padding: 15px 50px;
	margin: 30px;
	cursor: pointer;
	font-weight: 700;
	box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
	transition: 0.2s;
}

.submit-review:hover {
	box-shadow: 0 4px 20px 0 rgba(34, 68, 87, 0.3);
	background-color: #ffc800;
	transform: scale(1.05, 1.05);
	border-radius: 12px;
}

.submit-review:active {
	transform: scale(1, 1);
}

.submit-review:focus {
	background: #f3be00;
}

.end-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
}

.fa-arrow-alt-circle-up {
	margin: 25px;
	color: #263543;
	transition: 0.3s;
	float: right;
	box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
	border: 2px solid #263543;
	border-radius: 40px;
}

.fa-arrow-alt-circle-up:hover {
	color: #ffc800;
	border-color: #f3be00;
	transform: scale(1.1, 1.1);
	box-shadow: 1px 1px 3px 0px rgba(89, 87, 87, 0.85);
}

.rating-in-stars {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.rating-in-stars-value {
	text-decoration: none;
	font-size: 25px;
	border: solid 3px #22447b;
	color: #22447b;

	border-radius: 50px;
	cursor: pointer;
	margin: 0px 5px;
	padding: 7px;
	font-weight: 700;
	box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
	transition: 0.1s;
}

.rating-in-stars-value:hover {
	background-color: #ffd43b;
	transform: scale(1.1, 1.1);
}

.rating-in-stars-value:active {
	transform: scale(1, 1);
	background-color: #ffc800;
}

.rating-in-stars-value:focus {
	background-color: #ffc800;
}

.rating-in-stars-title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
	text-align: center;
	padding: 14px 14px 0px 14px;
}

.title-user-reviews-div {
	display: flex;
	justify-content: center;
}
.review-card-title {
	background: white;
	border-radius: 20px;
	border-bottom-left-radius: 0%;
	border-bottom-right-radius: 0%;
	margin: 25px 20px 20px 25px;
	margin-bottom: 0;
	box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
}
.title-user-reviews {
	font-size: 30px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.more-comments-button {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	background: white;
	border-radius: 15px;
	margin: 15px 20px 0 25px;
	margin-bottom: 0;
	box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
}

.title-user-comments {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	margin: 24px 20px;
	opacity: 0.6;
}

.title-user-comments:hover {
	opacity: 1;
	cursor: pointer;
}

.total-user-comments {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	margin-left: 20px;
}

.total-user-comments-value {
	font-size: 25px;
	color: rgb(34, 68, 87);
}
